-
    var cards = [
        { src: "vector-smart-object.png", alt: "Транспорт", text: "Автотранспорт"},
        { src: "vector-smart-object-6.png", alt: "Будівництво", text: "Будівництво, архітектура, землекористування"},
        { src: "vector-smart-object-3.png", alt: "Громадянство", text: "Громадянство"},
        { src: "vector-smart-object-2.png", alt: "Права дитини", text: "Захист прав дитини"},
        { src: "vector-smart-object-7.png", alt: "Реєстрація", text: "Реєстрація місця проживання/перебування"},
        { src: "vector-smart-object-5.png", alt: "Підприємництво", text: "Підприємницька діяльність"},
        { src: "vector-smart-object-4.png", alt: "Медицина", text: "Санітарне та епідемічне благополуччя, ветеринарна медицина"},
        { src: "vector-smart-object-1.png", alt: "Конунальне господарство", text: "Комунальне господарство"}
    ]