extends layouts/root

block content
	+header()
	.container-fluid.bg-light.px-5
		.row
			.col-lg
				h2.text-secondary.text-center.font-weight-bold.m-4 Виберіть категорію

		- var i = 0;
		while i < Math.ceil(cards.length/4)
			- var j = 0;
			.row.align-content-stretch.pb-4
				while j < 4
					.col-lg
						+card(cards[i * 4 + j])
					- j++;
			- i++;