include ../../node_modules/bemto.pug/bemto
include ../blocks/all

doctype html
html
	head
		link(rel="stylesheet" href="/assets/app.css")
		link(rel="stylesheet" href="/assets/bootstrap.css")
	body
		block content
		script(src="/assets/app.js")
		
