.header
    &::before
        content ''
        display inline-block
        height 40px
        width 40px
        padding-right 40px
        background-image url('../assets/img/book.png')
        background-size contain
        background-repeat no-repeat